link(rel='stylesheet', href='/stylesheets/jquery.mobile.css')
link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure.css')
link(rel='stylesheet', href='/stylesheets/jquery.mobile.theme.css')

script(src='/javascripts/jquery.js')
script(src='/javascripts/jquery.mobile.js')
