extends layout

block content

  div(data-role='header')
    a(data-role='button', data-icon='arrow-l', data-direction='reverse', data-iconpos='notext', href='/') Back
    h1 Versions

  h2 Release V 0.1

  ul
    li Rate overall event
    li Enter personal details after rating

  h2 Release V 0.2

  ul
    li Live dashboard (presenter's ratings)
    li Show summary of presentation and presenter's bio in rating form
    li Select n random feedback provider for award
    li Fix search (bug)
    li Feedback app released versions (page)